<ion-content style="background: white;">

  <div>
    <div class="first">
      <img src="assets/imgs/icon.png" class="image">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
        <span style="font-family: auto;
        font-size: x-large">Login</span>
        <ion-row style="height: 45px;">
          <ion-col col-2 style="background: #4a495b; text-align: center;">
            <ion-icon name="person" style="color: white; font-size: 43px;"></ion-icon>
          </ion-col>
          <ion-col col-10 style="background:lightgray;">
            <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="height: 45px;">
          <ion-col col-2 style="background: #4a495b; text-align: center;">
            <ion-icon name="lock" style="color: white; font-size: 43px;"></ion-icon>
          </ion-col>
          <ion-col col-8 style="background: lightgray;">
            <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}"></ion-input>
            <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}"></ion-input>

          </ion-col>
          <ion-col col-2 style="background: lightgray;">
            <button ion-button clear item-end (click)="toggleShowPassword()">
              <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
              <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv" (tap)="userlogin()">
      <button ion-button class="btnLog" color="gpsc">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>


    <ion-footer>
      <ion-toolbar style="text-align: center;">
        <button class="last" (click)="gotosignuppage()">NEW USER? SIGN UP</button>
      </ion-toolbar>
    </ion-footer>
  </div>

  </ion-content>
